<div class="container-fluid">

    <div class="row">
        <div class="col">
            <section class="vh-100">
                <div class="container py-5 h-100">
                  <div class="row d-flex align-items-center justify-content-center h-100">
                    <div class="col-md-8 col-lg-7 col-xl-6">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                        class="img-fluid" alt="Phone image">
                    </div>
                    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">

                        <h1 class="text-center"> Iniciar sesión</h1>

                      <form>
                        <!-- Email input -->
                        <div data-mdb-input-init class="form-floating mb-3">
                          <input type="email" id="form1Example13" class="form-control form-control-lg" />
                          <label class="form-label" for="form1Example13">No. Control</label>
                        </div>
              
                        <!-- Password input -->
                        <div data-mdb-input-init class="form-floating mb-3">
                          <input type="password" id="form1Example23" class="form-control form-control-lg" />
                          <label class="form-label" for="form1Example23">Contraseña</label>
                        </div>

              
                        <!-- Submit button -->
                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" routerLink="/inicio">Iniciar sesión</button>
              
                        <div class="divider d-flex align-items-center my-4">
                        </div>
              
                        <p class="text-muted">¿Necesitas una cuenta? <a type="button" class="btn btn-link" routerLink="/registro">Registrate</a> 
                        </p>
                        
              
                      </form>
                    </div>
                  </div>
                </div>
              </section>
        </div>
    </div>
    
</div>